* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oswald";
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(70deg, #2cbcb2 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #242021 60%, #d44e28 60%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  color: white;
  height: 100%;
  width: 100%;
}

.container .title {
  font-size: 80px;
  text-align: center;
}

.container .search {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  text-align: center;
  color: #ffffff;
  font-family: Helvetica;
}

.container .search:focus {
  outline: none;
}

.container .error {
  width: 80%;
  height: 30px;
  background: #a52424;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.left {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #333333;
}

.left .left-inner {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left .left-inner .stat_container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.left .left-inner .stat_container .stat_headers {
  font-weight: bolder;
  color: #505050;
  letter-spacing: 1px;
}

.left .left-inner .stat_container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.left .left-inner .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  color: #eeeeee;
  text-align: center;
}

.left .left-inner .info .position {
  font-size: 16px;
  letter-spacing: 1px;
  color: #2cbcb2;
}

.left .remove {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .remove .remove-button {
  background: #ffffff;
  color: #af2020;
  cursor: pointer;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
}

.max {
  color: #d44e28;
}

@media only screen and (max-width: 600px) {
  .container .title {
    font-size: 50px;
  }
  .left {
    width: 95%;
  }
  .left .left-inner .stat_container {
    font-size: 12px;
  }
  .left .left-inner .info {
    font-size: 10px;
    line-height: 25px;
  }
  .left .left-inner .info .position {
    font-size: 10px;
  }
  .left .remove .remove-button {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */